* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    height: 100vh;
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/portada.jpg) ;
    background-size: cover; /* para que ocupe toda la imagen en la pantalla */
    max-width: 100%; /* para que no crezca mas de su tamaño original */
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    border: 1px solid;
    border-block-color: white;
}

.nav-bar .logo {
    width: 60px;
    height: 60px;
    grid-column: 1/3; /* para posicionar los elementos dentro de las columnas del grid */
    margin-left: 41px; 
}

.nav-bar .menu {
    grid-column: 5 / 8;
    display: flex; /* para que los links se coloquen en forma horizontal */
    justify-content: space-around; /* colocar espacios entre los link */
}

.nav-bar .menu li {
    list-style: none; /* quitar las viñetas de los link */
}

.nav-bar .menu a {
    text-decoration: none; /* quitar el subrayado de los link */
    color:  white;  
    cursor: pointer;
}

.nav-bar .menu a:hover {
    color: #EDCB54;
}

.nav-bar .menu-bar {
    display: none;
}

/*https://www.youtube.com/watch?v=wOYWfwCOgSE*/
/*https://codepen.io/michaelxk/pen/YzGbWwj */

/* SECCION PRINCIPAL */

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.main .search {
    grid-column: 9/10;
    grid-row: 1/2;
}

.main .search .buscador {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    line-height: 20px;
    margin-top: 27px;
    margin-left: -88px;
    border-color: rgb(255, 255, 255);
    border-radius: 76px;
    background: none;
    padding: 0px 17px;
}


.main .info-content {
    grid-column: 2/5;
    grid-row: 5/7;
    color: white;
}

.main h3 {
    font-family: Montserrat, sans-serif;
    color: #EDCB54; 
    font-size: 20px;
    font-weight: 450; /* grueso de la linea que forma la letra */
    line-height: 40px; /* distancia entre las letras */
}  

.main h1 {
    
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
}

.main .btn {
    font-size: 8px;
    background: none;
    color: white;
    padding: 10px 40px;
    border-radius: 80px;
    margin-top: 15px; 
    border-color: white;
}

.main .btn:hover {
    cursor: pointer;
    color: #EDCB54;
    border-color: #EDCB54;
}

/* SECCION 1 */
/* CONTENEDOR 1 */

.seccion1 {
    height: 65vh;
    background-size: cover; /* para que ocupe toda la imagen en la pantalla */
    max-width: 100%; /* para que no crezca mas de su tamaño original */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.seccion1 .container1 {
    grid-column: 7/10;
    grid-row: 2/8;
}

.seccion1 .container1 .title1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    line-height: 30px;
    margin-top: 30px;
    color: #EDCB54;
}

.seccion1 .container1 .subtitle1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: right;
    font-weight: 500;
    line-height: 40px;
    margin-top: 10px;
    color: black;
}

.seccion1 .container1 .parrafo1 {
    font-family: 'sans-serif';
    font-size: 15px;
    text-align: right;
    font-weight: 500;
    margin-top: 20px;
    color: black;
}

.seccion1 .container1 .btn1 {
    font-size: 8px;
    margin-left: 80px;
    background: none;
    color: black;
    padding: 10px 40px;
    border-radius: 80px;
    margin-top: 40px; 
    border-color: black;
}

.seccion1 .container1 .btn1:hover {
    cursor: pointer;
    color: #EDCB54;
    border-color: #EDCB54;
}

/* IMAGENES 1 */

.seccion1 .carrucel1 {
    grid-column: 1/6;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

/* FOTO 1 */

.seccion1 .carrucel1 .foto1 {
    grid-column: 5/7;
    grid-row: 2/4;
}

.seccion1 .carrucel1 .foto1 .f1 {
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/img1.jpg) ;
    width: 159px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion1 .carrucel1 .box1 {
    grid-column: 5/7;
    grid-row: 6/6;
    background-color: white;
    width: 158px;
    height: 64px;
}

.seccion1 .carrucel1 .box1:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.8s;
}

.seccion1 .carrucel1 .box1 .C1 h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.seccion1 .carrucel1 .box1 .C1 p {
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}

/* FOTO 2 */

.seccion1 .carrucel1 .foto2 {
    grid-column: 9/11;
    grid-row: 2/4;
}

.seccion1 .carrucel1 .foto2 .f2 {
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/img2.jpg) ;
    width: 159px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion1 .carrucel1 .box2 {
    grid-column: 9/11;
    grid-row: 6/6;
    background-color: white;
    width: 158px;
    height: 64px;
}

.seccion1 .carrucel1 .box2:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.8s;
}

.seccion1 .carrucel1 .box2 .C2 h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.seccion1 .carrucel1 .box2 .C2 p {
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}

/* FOTO 3 */

.seccion1 .carrucel1 .foto3 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.seccion1 .carrucel1 .foto3 .f3 {
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/img3.jpg) ;
    width: 159px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion1 .carrucel1 .box3 {
    grid-column: 1/3;
    grid-row: 6/6;
    background-color: white;
    width: 158px;
    height: 64px;
}

.seccion1 .carrucel1 .box3:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.8s;
}

.seccion1 .carrucel1 .box3 .C3 h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.seccion1 .carrucel1 .box3 .C3 p {
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}

/* SECCION 2 */
/* CONTENEDOR 2 */

.seccion2 {
    height: 65vh;
    background-size: cover; /* para que ocupe toda la imagen en la pantalla */
    max-width: 100%; /* para que no crezca mas de su tamaño original */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.seccion2 .container2 {
    grid-column: 2/5;
    grid-row: 2/8;
}

.seccion2 .container2 .title2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    line-height: 30px;
    margin-top: 30px;
    color: #EDCB54;
}

.seccion2 .container2 .subtitle2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: 500;
    line-height: 40px;
    margin-top: 10px;
    color: black;
}

.seccion2 .container2 .parrafo2 {
    font-family: 'sans-serif';
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    margin-top: 20px;
    color: black;
}

.seccion2 .container2 .btn2 {
    font-size: 8px;
    margin-left: 60px;
    background: none;
    color: black;
    padding: 10px 40px;
    border-radius: 80px;
    margin-top: 40px; 
    border-color: black;
}

.seccion2 .container2 .btn2:hover {
    cursor: pointer;
    color: #EDCB54;
    border-color: #EDCB54;
}

/* IMAGENES 2 */

.seccion2 .carrucel2 {
    grid-column: 6/11;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

/* FOTO 4 */

.seccion2 .carrucel2 .foto4 {
    grid-column: 1/3;
    grid-row: 2/4;
}

.seccion2 .carrucel2 .foto4 .f4 {
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/img4.jpg) ;
    width: 159px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion2 .carrucel2 .box4 {
    grid-column: 1/3;
    grid-row: 6/6;
    background-color: white;
    width: 158px;
    height: 64px;
}

.seccion2 .carrucel2 .box4:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.8s;
}

.seccion2 .carrucel2 .box4 .C4 h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.seccion2 .carrucel2 .box4 .C4 p {
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}

/* FOTO 5 */

.seccion2 .carrucel2 .foto5 {
    grid-column: 5/7;
    grid-row: 2/4;
}

.seccion2 .carrucel2 .foto5 .f5 {
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/img5.jpg) ;
    width: 159px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion2 .carrucel2 .box5 {
    grid-column: 5/7;
    grid-row: 6/6;
    background-color: white;
    width: 158px;
    height: 64px;
}

.seccion2 .carrucel2 .box5:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.8s;
}

.seccion2 .carrucel2 .box5 .C5 h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.seccion2 .carrucel2 .box5 .C5 p {
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}

/* FOTO 6 */

.seccion2 .carrucel2 .foto6 {
    grid-column: 9/11;
    grid-row: 2/4;
}

.seccion2 .carrucel2 .foto6 .f6 {
    background-image: linear-gradient(rgba(10, 10, 10, .2), rgba(10, 10, 10, .7)) ,  url(../IMG/img6.jpg) ;
    width: 159px;
    height: 213px;
    background-repeat: no-repeat;
    background-size: contain;
}

.seccion2 .carrucel2 .box6 {
    grid-column: 9/11;
    grid-row: 6/6;
    background-color: white;
    width: 158px;
    height: 64px;
}

.seccion2 .carrucel2 .box6:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: all 0.8s;
}

.seccion2 .carrucel2 .box6 .C6 h1 {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}

.seccion2 .carrucel2 .box6 .C6 p {
    font-size: 16px;
    text-align: center;
    margin-top: 2px;
}

/* SECCION 3 */
/* TITULO */

.seccion3 {
    height: 105vh;
    background-size: cover; /* para que ocupe toda la imagen en la pantalla */
    max-width: 100%; /* para que no crezca mas de su tamaño original */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.seccion3 .titulo {
    grid-column: 4/8;
    grid-row: 1/3;
}

.seccion3 .titulo h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 30px;
    color: #EDCB54;
}

.seccion3 .titulo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 10px;
    color: black;
}

/* ALBUM */

.seccion3 .album {
    grid-column: 2/11;
    grid-row: 3/8;
}

.seccion3 .album .fotitos {
    margin: 1px;
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 18px;
}

.seccion3 .album .fotitos img {
    width: 214px;
}

.seccion3 .album .fotitos .cont {
    background-color: #ffffff;
    margin-top: -64px;
    position: absolute;
    width: 214px;
    height: 60px;
}

.seccion3 .album .fotitos .cont:hover {
    cursor: pointer;
    background-color: #EDCB54;
    color: white;
    transition: all 0.8s;
}

.seccion3 .album .fotitos .cont h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 2px;
}

.seccion3 .album .fotitos .cont p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


/* SECCION 4 */
/* PORTADA */

.seccion4 {
    height: 83vh;
    background-size: cover; /* para que ocupe toda la imagen en la pantalla */
    max-width: 100%; /* para que no crezca mas de su tamaño original */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.seccion4 .panel1 {
    grid-column: 2/6;
    grid-row: 1/6;
}

.seccion4 .panel1 img {
    width: 430px;
}

.seccion4 .panel2 {
    grid-column: 7/10;
    grid-row: 3/6;
}

.seccion4 .panel2 img {
    width: 438px;
    margin-top: -99px;
}

.seccion4 .panel2 .services h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    line-height: 30px;
    margin-top: 9px;
    color: #EDCB54;
}

.seccion4 .panel2 .services h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: right;
    font-weight: 500;
    line-height: 40px;
    margin-top: 5px;
    color: black;
}

.seccion4 .panel2 .services p {
    font-family: 'sans-serif';
    font-size: 15px;
    text-align: right;
    font-weight: 500;
    margin-top: 17px;
    color: black;
}

.seccion4 .panel2 .services .btn {
    font-size: 8px;
    margin-left: 121px;
    background: none;
    color: black;
    padding: 10px 40px;
    border-radius: 80px;
    margin-top: 35px;
    border-color: black;
}

.seccion4 .panel2 .services .btn:hover {
    cursor: pointer;
    color: #EDCB54;
    border-color: #EDCB54;
}

/* FOOTER */

.footer {
    height: 70vh;
    background-size: cover; /* para que ocupe toda la imagen en la pantalla */
    max-width: 100%; /* para que no crezca mas de su tamaño original */
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

/* PANEL FOOTER 1 NEGRO */

.footer .panel1 {
    grid-column: 1/11;
    grid-row: 5/11;
    background-color: black;
}

/* PANEL TEXTO */

.footer .panel1 .filas {
    height: 35vh;
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.footer .panel1 .filas .fila1 {
    grid-column: 2/3;
    grid-row: 3/6;
    color: white;
    font-size: 10px;
    text-align: left;
}

.footer .panel1 .filas .fila2 {
    grid-column: 4/5;
    grid-row: 3/6;
    color: white;
    font-size: 10px;
    text-align: center;
}

.footer .panel1 .filas .fila3 {
    grid-column: 6/7;
    grid-row: 3/6;
    color: white;
    font-size: 10px;
    text-align: center;
}

.footer .panel1 .filas .fila4 {
    grid-column: 8/10;
    grid-row: 3/6;
    color: white;
    font-size: 10px;
    text-align: right;
}

.footer .panel1 .filas .columna1 {
    grid-column: 5/7;
    grid-row: 7/9;
    color: white;
    font-size: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    height: 2px;
    /* width: 100%; */
    margin-left: -150%;
    margin-right: -150%;
    background-color: white;
}

/* PANEL FOOTER 2 AMARILLO */

.footer .panel2 {
    grid-column: 2/10;
    grid-row: 3/6;
    background-color: #EDCB54;
}

/* PANEL TEXTO */

.footer .panel2 .texto1 {
    height: 26vh;
    background-size: cover;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.footer .panel2 .texto1 .box1 {
    grid-column: 1/6;
    grid-row: 1/4;
}

.footer .panel2 .texto1 .box1 h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    line-height: 30px;
    margin-top: 28px;
    margin-left: 55px;
}

.footer .panel2 .texto1 .box1 h1 {
    grid-column: 2/6;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: left;
    line-height: 30px;
    margin-top: 9px;
    margin-left: 55px;
}

/* PANEL FORMULARIO */

.footer .panel2 .texto1 .box2 {
    grid-column: 6/10;
    grid-row: 1/4;
}

.footer .panel2 .texto1 .box2 h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    line-height: 30px;
    margin-top: 28px;
    margin-left: 55px;
}

.footer .panel2 .texto1 .box2 .formulario  {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: left;
    font-weight: 500;
    line-height: 30px;
    margin-top: 3px;
    margin-left: 55px;
    border-color: grey;
    border-radius: 76px;
    background: none;
    padding: 0px 17px;
}

.footer .panel2 .texto1 .box2 .btn  {
    font-size: 10px;
    margin-left: 239px;
    background: none;
    color: black;
    padding: 6px 44px;
    border-radius: 80px;
    margin-top: 7px;
    border-color: black;
}

.footer .panel2 .texto1 .box2 .btn:hover {
    cursor: pointer;
    color: white;
    border-color: white;
    background-color: black;
}

